# In Class Assignment # 1
## Abbie Tolon (9/15/2021)

### Numeric (Integers and Floats)

In [8]:
# Examples of Integers
x = 7

# Examples of Floats
y = 7.1234

In [9]:
print(type(x))

<class 'int'>

In [10]:
print(type(y))

<class 'float'>

### Dictionary

In [12]:
# Examples of Dictionaries

# Here is a dictionary displaying the ages of my family members
Family = {"Bobbie":63,
         "Elaine":30,
         "Abbie":28,
         "Tori":25}

In [13]:
# Print from dictionary to determine Abbie's age
print(Family["Abbie"])

28

In [28]:
print(type(Family))

<class 'dict'>

### Boolean

In [14]:
# Examples of Boolean
dogs_are_the_best = True

In [15]:
print(dogs_are_the_best)

True

In [27]:
print(type(dogs_are_the_best))

<class 'bool'>

### Sequence (string, list, tuple)

In [24]:
# Examples of strings
s = "This is a string"

# Examples of lists
l = ["tiny", "small", "medium", "large", "huge"]

# Examples of tuple
t = ("tiny", "small", "medium", "large", "huge")

In [21]:
print(type(s))

<class 'str'>

In [23]:
print(type(l))

<class 'list'>

In [25]:
print(type(t))

<class 'tuple'>

### Set

In [16]:
# Examples of sets
# Create a set of hobbies I have!
hobbies = {"Running", "Rock Climbing", "Cooking", "Coding!"}

In [17]:
print(hobbies)

{'Running', 'Rock Climbing', 'Coding!', 'Cooking'}

In [26]:
print(type(hobbies))

<class 'set'>