# In Class Exercise

## 12/15/2021

**1. In markdown, describe KNN in your own words.**

**2. Using the KNN example from class, write a function that finds the optimal value for k. You should iterate over a range of values and return the k and the score when the accuracy score is maximized. Be sure to only use odd values.**

In [3]:
import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [4]:
diabetes_df = pd.read_csv("diabetes.csv")
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
X = diabetes_df.drop('Outcome', axis=1)
y = diabetes_df['Outcome']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=4)

# Standardization - transforming values so that mean is 0 and SD is 1
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

# k is how many data points we're looking at
# n_neighbors is K
knn=KNeighborsClassifier(n_neighbors=13)
knn.fit(X_train, y_train)
y_predict = knn.predict(X_test)
print(y_predict)

[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 0 1
 1 0 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0
 0 1 0 0 0 1 1 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 1 0 0 1
 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 1 1 0 1 0 0 1 1 0 0 1 0 0 1 0
 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0
 1 0 0 1 1 0 0 0 0]

In [6]:
print(knn.score(X_test, y_test))

0.7532467532467533

In [18]:
# Write function to test best score
# Test several values for the n_neighbors = 13

# 28 rule of thumb of where to start: square root of number of rows
# print index of maximum value of list

# Create lists to append to
accuracy_list = []
K_list = []

def best_score():   
    # Check that it's odd
    for i in range(0,50):
        if i%2 !=0:
            knn = KNeighborsClassifier(n_neighbors=i)
            knn.fit(X_train, y_train)
            y_predict = knn.predict(X_test)
            score = knn.score(X_test, y_test)
            accuracy_list.append(score)
            K_list.append(i)
    else:
        pass
    print(accuracy_list)
    print(K_list)

In [19]:
# Call our function to print the best score
best_score()

[0.6666666666666666, 0.70995670995671, 0.7186147186147186, 0.7359307359307359, 0.7402597402597403, 0.7359307359307359, 0.7532467532467533, 0.7792207792207793, 0.7662337662337663, 0.7705627705627706, 0.7748917748917749, 0.7575757575757576, 0.7489177489177489, 0.7619047619047619, 0.7575757575757576, 0.7792207792207793, 0.7792207792207793, 0.7748917748917749, 0.7792207792207793, 0.7705627705627706, 0.7748917748917749, 0.7705627705627706, 0.7662337662337663, 0.7662337662337663, 0.7748917748917749]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [20]:
max(accuracy_list)

0.7792207792207793

In [21]:
knn_df = pd.DataFrame({'Score':accuracy_list,
                      'K': K_list})

In [25]:
knn_df.sort_values('Score', ascending=False)

       Score   K
7   0.779221  15
16  0.779221  33
15  0.779221  31
18  0.779221  37
24  0.774892  49
10  0.774892  21
17  0.774892  35
20  0.774892  41
21  0.770563  43
19  0.770563  39
9   0.770563  19
8   0.766234  17
22  0.766234  45
23  0.766234  47
13  0.761905  27
11  0.757576  23
14  0.757576  29
6   0.753247  13
12  0.748918  25
4   0.740260   9
5   0.735931  11
3   0.735931   7
2   0.718615   5
1   0.709957   3
0   0.666667   1

In [ ]:
# K value of 15 is the best because it is the lowest K value, with the highest score

**3. How did the panel influence your thoughts about working in tech, specifically work in the data realm? Discuss with your group and summarize your thoughts in under 250 words.**