# Week 12: In-class Exercise
### 12/08/2021

1. Write a lambda function to rearrange positive and negative numbers in a given list

In [36]:
import pandas as pd
import numpy as np

In [40]:
#Sample output:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

# Split the list

# Positives
positives = list(filter(lambda x:(x>=0), original_list))
print(positives)

# Negatives
negatives = list(filter(lambda x:(x<0), sorted(original_list)))
print(negatives)

# Concatenate the list
resulting_list = positives + negatives
resulting_list

[2, 4, 6, 8, 10, 12]
[-11, -9, -7, -5, -3, -1]

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

2.  Create a new dataframe using week_11/temperatures/temperature.csv file from last class. It should have the datetime column and one of the cities. Create a new boolean column called is_freezing that indicates if the temperature is at or below freezing. Use a lambda to create this column. Is there a better way to do this than with a lambda?

In [41]:
# Load the data file
temp = pd.read_csv('temperature.csv')

# Inspect the data
temp_df = pd.DataFrame(temp)
temp_df.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,10/1/2012 12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.100000,NaN,NaN,NaN
1,10/1/2012 13:00,284.630000,282.080000,289.480000,281.800000,291.870000,291.530000,293.410000,296.600000,285.120000,...,285.630000,288.220000,285.830000,287.170000,307.590000,305.470000,310.580000,304.4,304.4,303.5
2,10/1/2012 14:00,284.629041,282.083252,289.474993,281.797217,291.868185,291.533501,293.403141,296.608509,285.154558,...,285.663208,288.247676,285.834650,287.186092,307.590000,304.310000,310.495769,304.4,304.4,303.5
3,10/1/2012 15:00,284.626998,282.091866,289.460618,281.789833,291.862844,291.543355,293.392177,296.631487,285.233952,...,285.756824,288.326940,285.847789,287.231672,307.391513,304.281841,310.411539,304.4,304.4,303.5
4,10/1/2012 16:00,284.624955,282.100481,289.446243,281.782449,291.857503,291.553209,293.381213,296.654466,285.313345,...,285.850440,288.406203,285.860929,287.277251,307.145200,304.238015,310.327308,304.4,304.4,303.5

In [45]:
# Revise the data frame to only be two columns
Vancouver = pd.DataFrame({'Datetime':temp_df['datetime'],
                         'Vancouver':temp_df['Vancouver']})
# View data
Vancouver.head()

          Datetime   Vancouver
0  10/1/2012 12:00         NaN
1  10/1/2012 13:00  284.630000
2  10/1/2012 14:00  284.629041
3  10/1/2012 15:00  284.626998
4  10/1/2012 16:00  284.624955

In [46]:
# Create the new column called 'is_freezing'
Vancouver = Vancouver.assign(is_freezing=lambda x: x['Vancouver']<=273.15)

In [47]:
# View data to make sure it worked
Vancouver.head()

          Datetime   Vancouver  is_freezing
0  10/1/2012 12:00         NaN        False
1  10/1/2012 13:00  284.630000        False
2  10/1/2012 14:00  284.629041        False
3  10/1/2012 15:00  284.626998        False
4  10/1/2012 16:00  284.624955        False

Is there a better way to do this than with a lambda?

In [59]:
# Import time module
import time

# Create the timer to see how long the function takes
start_time = time.perf_counter()
Vancouver.assign(is_freezing=lambda x: x['Vancouver']<=273.15)
end_time = time.perf_counter()

In [60]:
# See the total time it takes to run the function
total_time = end_time-start_time
total_time

0.004198900000119465

In [64]:
# Try to change the column a different way
Vancouver['is_freezing2'] = np.where(Vancouver['Vancouver']<=273.15,True,False)

In [65]:
# Verify column
Vancouver.head()

          Datetime   Vancouver  is_freezing  is_freezing2
0  10/1/2012 12:00         NaN        False         False
1  10/1/2012 13:00  284.630000        False         False
2  10/1/2012 14:00  284.629041        False         False
3  10/1/2012 15:00  284.626998        False         False
4  10/1/2012 16:00  284.624955        False         False

In [66]:
# Create the timer to see how long the function takes
start_time = time.perf_counter()
np.where(Vancouver['Vancouver']<=273.15,True,False)
end_time = time.perf_counter()

In [67]:
# See the total time it takes to run the function
total_time = end_time-start_time
total_time

0.001001999999061809

**Answer:** There are, indeed, better ways to approach this. Instead of using the lambda function, we can use the np.where() function. After checking the time for each, I found that the second approach was quicker.

3. BONUS: if you still have time, try to do a pivot of the data in question 2 so you have the hourly data for all the cities and a flag for if it's freezing.