In [1]:
import pandas as pd

In [2]:
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)

1. Import the Belize_Airbnb_listings csv.
- Create a new dataframe that takes the original dataset and groups the data by neighborhood and finds the average price, number of reviews, and availability_365. 
- In short, youâ€™re looking for the average price, number of reviews, and availability per neighborhood.

In [10]:
# Group by neighbourhood

grouped_belize_df = belize_df.groupby("neighbourhood")

In [7]:
# Examine data set
grouped_belize_df.count()

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood,,,,,,,,,,,,,,,
Belize Islands,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303,864,864,1303,1303
Belize Mainland,271,271,271,271,271,271,271,271,271,271,271,174,174,271,271
Cayo,505,505,505,505,505,505,505,505,505,505,505,330,330,505,505
Corozal,65,65,65,65,65,65,65,65,65,65,65,33,33,65,65
Orange Walk,28,28,28,28,28,28,28,28,28,28,28,16,16,28,28
Stann Creek Islands,12,12,12,12,12,12,12,12,12,12,12,5,5,12,12
Stann Creek Mainland,565,565,565,565,565,565,565,565,565,565,565,362,362,565,565
Toledo Mainland,47,47,47,47,47,47,47,47,47,47,47,26,26,47,47

In [20]:
# Find average price
grouped_belize_df["price"].mean()

neighbourhood
Belize Islands           399.442824
Belize Mainland          288.273063
Cayo                     205.847525
Corozal                  156.553846
Orange Walk              122.035714
Stann Creek Islands     1136.166667
Stann Creek Mainland     456.994690
Toledo Mainland          222.978723
Name: price, dtype: float64

In [18]:
# Find total reviews per month
grouped_belize_df["reviews_per_month"].count()

neighbourhood
Belize Islands          864
Belize Mainland         174
Cayo                    330
Corozal                  33
Orange Walk              16
Stann Creek Islands       5
Stann Creek Mainland    362
Toledo Mainland          26
Name: reviews_per_month, dtype: int64

In [19]:
# Find total availability
grouped_belize_df["availability_365"].count()

neighbourhood
Belize Islands          1303
Belize Mainland          271
Cayo                     505
Corozal                   65
Orange Walk               28
Stann Creek Islands       12
Stann Creek Mainland     565
Toledo Mainland           47
Name: availability_365, dtype: int64

In [22]:
# Try to put it all together
new_df = grouped_belize_df.agg({"price":'mean', "reviews_per_month":'count', "availability_365":'count'})
new_df

                            price  reviews_per_month  availability_365
neighbourhood
Belize Islands         399.442824                864              1303
Belize Mainland        288.273063                174               271
Cayo                   205.847525                330               505
Corozal                156.553846                 33                65
Orange Walk            122.035714                 16                28
Stann Creek Islands   1136.166667                  5                12
Stann Creek Mainland   456.994690                362               565
Toledo Mainland        222.978723                 26                47

2. Take the following list and create a new list from the square of each value. 
- og_list=[2, 4, 6, 8, 10, 12, 14]

In [37]:
og_list=[2, 4, 6, 8, 10, 12, 14]
print(og_list)

[2, 4, 6, 8, 10, 12, 14]

In [36]:
# List comprehension method
new_list=[i**2 for i in og_list]
print(new_list)

[4, 16, 36, 64, 100, 144, 196]

3. Take the same list from the previous question and create a new list but where each value is 2/3

In [38]:
newest_list=[i*(2/3) for i in new_list]
print(newest_list)

[2.6666666666666665, 10.666666666666666, 24.0, 42.666666666666664, 66.66666666666666, 96.0, 130.66666666666666]

4. Write a list comprehension or function to lowercase all the keys in the below dictionary. The data represents how many pounds of each fruit a canning company is ordering.

In [40]:
# Here is the dictionary
my_dict={"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400,
"Peaches": 13600, "Oranges": 7}
print(my_dict)

{'Apples': 1500, 'Cranberries': 2000, 'Pears': 2500, 'Cherries': 1600, 'Plums': 2400, 'Peaches': 13600, 'Oranges': 7}

In [43]:
# Here is the function I created
def lowercase(foo):
    for a,b in my_dict.items():
        print(a.lower(), b)
lowercase(my_dict)

apples 1500
cranberries 2000
pears 2500
cherries 1600
plums 2400
peaches 13600
oranges 7

Why did you choose the mechanism you did to lowercase the keys?

I used a for loop to lowercase the keys in my dictionary because this seemed to be the most efficient method. I was able to loop through each key and lowercase the first letter. I chose a function, rather than a list comprehension because this also seemed to be the most straightforward.